@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed';
    font-style: oblique;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: bisque;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b92239bd;  /* Fondo semitransparente */
    z-index: 1000;
}

span{
	font-size: 20px;
	text-align: center;
	font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.subt{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.slider-frame {
	width: 100%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 100%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

#button {
    background-color: rgba(185, 34, 57, 0.741); /* Fondo azul para el botón */
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#button:hover {
    background-color: #0056b3;
}

#button:active {
    transform: translateY(0);
}

header .log img {
    width: 90px;
}

footer .log {
    position: absolute;
    bottom: 20%;
    right: 2%;
}


footer .log img {
    width: 90px; 
    height: auto;

}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff; /*color de las letras del header*/
    text-decoration: solid;
    padding: 8px 16px;

}

.checkbtn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#check {
    display: none;
}

/* Imagen de fondo de la sección */

#img_bc {
    background-image: url("../fotos_ingles/cerroPrincipal.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}



#header {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color:rgb(229, 241, 241);
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 400px;
}

.title {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 80px;
    font-style: oblique;
    color: rgb(229, 241, 241);
    text-shadow: 2px 2px 0;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal
}

.title h3 {
    font-family: "Satisfy", cursive;
    font-size: 5rem;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* General Sections */
section {
    padding: 20px;
    min-height: 100vh; /* Se eliminan las alturas fijas */
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 50px 0; /* Se ajusta el margen para evitar superposición */
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    color:#6b1616 ;
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7),
    0px 0px 7px rgba(0, 0, 0, 0.4);
}

#queHacer {
    min-height: 100vh;
    margin-top: 50px; /* Ajustar márgenes según el contenido */
}



#introduccion {
    background-image: url("../fotos_ingles/villademaria.jpg");
    background-size: cover;
    background-position: absolute;
    font-size: xx-large;
    text-decoration: solid;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 1px #ffffff,
    0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7),
    0px 0px 7px rgba(0, 0, 0, 0.4);
}

#ubicacion {
    background-color: #292d2f4c;
}

#GaleriaFotos {
    background-color: #292d2f4c;
}



.vdmp, .cul, .ubi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vdmp img, .cul img {
    max-width: 100%;
    height: auto;
    margin-bottom: 60px;
    border-radius: 10%;
}

.ubi iframe {
    width: 100%;
    height: 300px;
}

.cul h2 {
    font-family: 'Roboto Condensed';
    font-size: 2rem;
}


.cul p {
    background-color: rgba(71, 62, 45, 0.568);
    /* height: 425px;
    width: 1200px;*/
    text-align: center;
    color: white;
    border-radius: 20px;
    margin: 0;
    padding: 30px;
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;

}


/* Menu Museos */
.submenu {
    position: relative;
}

.submenu-opciones {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: transparent;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
}

.submenu-opciones li a {
    display: block;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #b92239bd; /* color base */
    transition: background-color 0.3s ease;
}

.submenu-opciones li:first-child {
    border-bottom: 1px solid #929292; /* línea gris clara */
}


.submenu:hover .submenu-opciones {
    display: block;
}


.submenu-opciones li a:hover {
    background-color: #b5b5b5; /* gris claro al pasar el mouse */
}


/* Historias Section */
.historias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-items: center;
}

.historias .card {
    margin-bottom: 20px;
    text-align: center;
}

.historias .card a {
    color: black;
    text-decoration: none;
}

/* Donde Comer */
.dondeComer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-items: center;
    margin-top: 200px;
}

.dondeComer .card {
    margin-bottom: 20px;
    text-align: center;
}

/* Galeria de Fotos */

.galeria-titulo {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
	font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    color:rgb(107, 22, 22) ;
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7),
    0px 0px 7px rgba(0, 0, 0, 0.4);
}
span{
	font-size: 20px;
	text-align: center;
	font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.subt{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}


.slider-frame {
	width: auto;
    height: 800px;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 600%;
	animation: slide 40s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: disc;
}

.slider-frame img {
	width: 95%;
}


@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/* Video Section */
.video-section {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.video-container {
    width: 100%;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: auto;
}

iframe {
    width: 100%;
    height: 450px;
}
#video-ubicacion {
    margin: 50px auto;
    width: 80%;
    max-width: 600px; /* Limita el ancho máximo del video */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes se mantengan */
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

#video-ubicacion iframe {
    width: 100%;
    height: 400px; /* Ajusta la altura del video */
    border: none;
    border-radius: 10px;
}

footer {
    position: relative;
    background-color: #333; /* Fondo oscuro */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
}

.footer-content {
    margin-bottom: 10px; /* Espacio entre contenido y enlaces */
}

.footer-links {
    margin-top: 10px; /* Espacio entre contenido y enlaces */
}

.footer-links a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin: 0 15px; /* Espaciado entre enlaces */
    transition: color 0.3s; /* Transición para el hover */
}

.footer-links a:hover {
    color: #007BFF; /* Color de los enlaces al pasar el ratón */
}


/* Media Queries */
@media (max-width: 768px) {
    #img_bc {
        background-image: url('../fotos_ingles/cerroPrincipal.png');
        
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    nav ul {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        display: none; /* Ocultar el menú por defecto */
    }

    nav ul li {
        margin: 10px 0;
    }

    .checkbtn {
        display: block; /* Mostrar el ícono de hamburguesa */
        position: absolute;
        right: 20px;
        top: 10px;
    }

    /* Mostrar el menú cuando el checkbox está marcado */
    #check:checked ~ ul {
        display: flex; /* Mostrar el menú */
    }
    .title {
        font-size: 3rem;
    }

    .historias {
        grid-template-columns: repeat(2, 1fr);
    }

    .dondeComer {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 100px;
    }

    #GaleriaFotos {
    padding-top: 5%;
    }

    .galeria-titulo {
    padding-top: 10%;


    .slider-frame {
	width: auto;
    height: 800px;
	margin:50px auto 0;
	overflow: hidden;
    padding-top: 5%;
    }

    .slider-frame ul {
	display: flex;
	padding: 0;
	width: 800%;
	animation: slide 40s infinite alternate ease-in-out;
    }

    .slider-frame li {
	width: 100%;
	list-style: disc;
    }

    .slider-frame img {
	width: 95%;
    }

    .video-section {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
        margin: auto;
    }

    .video-container {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    #video-ubicacion {
        width: 100%; /* Más espacio para pantallas pequeñas */
    }

    #video-ubicacion iframe {
        height: 100%; /* Reduce la altura para pantallas pequeñas */
        margin: 0;
    }
}

}
@media (max-width: 480px) {
    .title {
        font-size: 2.5rem;
    }

    nav ul li a {
        padding: 5px 10px;
    }

    .historias {
        grid-template-columns: repeat(1, 1fr);
    }

    .dondeComer {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .video-container {
        height: 120px;
    }
}

/* Actividades Section */

.actividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% auto;
    justify-items: center;
}


.actividades .card {
    margin-top: 50px;
    text-align: center;
}

.actividades .card a {
    color: black;
    text-decoration: none;
}

/* Donde Dormir */
.dondeDormir {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% auto;
    justify-items: center;
}

.dondeDormir .card {
    margin-bottom: 20px;
    text-align: center;
}

.dondeDormir .card a {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .actividades {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 200px;
    }

    .dondeDormir {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .actividades {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 100px;
    }

    .dondeDormir {
        grid-template-columns: repeat(1, 1fr);
    }
    .video-section{
        width: 99%;
    }
    #video-ubicacion iframe {
        height: 200px; /* Altura aún más pequeña para móviles */
    }
}
