@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 1000;
}

#button {
    background-color: #007BFF; /* Fondo azul para el botón */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#button:hover {
    background-color: #0056b3;
}

#button:active {
    transform: translateY(0);
}

header .log img {
    width: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.checkbtn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#check {
    display: none;
}

/* Imagen de fondo de la sección */
#img_bc {
    background-image: url('../img/pixelcut-export.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#header {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 400px;
}

.title {
    position: absolute;
    top: 130px;
    left: 80px;
    color: white;
}

.title h3 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* General Sections */
section {
    padding: 20px;
    min-height: 100vh; /* Se eliminan las alturas fijas */
}

h1 {
    font-family: 'Arizonia';
    font-size: 4rem;
    text-align: center;
    margin: 50px 0; /* Se ajusta el margen para evitar superposición */
}

#queHacer {
    min-height: 100vh;
    margin-top: 50px; /* Ajustar márgenes según el contenido */
}

.vdmp, .cul, .ubi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vdmp img, .cul img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.ubi iframe {
    width: 100%;
    height: 300px;
}

.cul h2 {
    font-family: 'Arizonia';
    font-size: 2rem;
}

.cul p {
    text-align: center;
}

/* Historias Section */
.historias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-items: center;
}

.historias .card {
    margin-bottom: 20px;
    text-align: center;
}

.historias .card a {
    color: black;
    text-decoration: none;
}

/* Donde Comer */
.dondeComer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-items: center;
    margin-top: 200px;
}

.dondeComer .card {
    margin-bottom: 20px;
    text-align: center;
}

/* Video Section */
.video-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 250px;
}

.video-container {
    flex: 1;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
}

iframe {
    width: 100%;
    height: 200px;
}
#video-ubicacion {
    margin: 50px auto;
    width: 80%;
    max-width: 600px; /* Limita el ancho máximo del video */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes se mantengan */
    height: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

#video-ubicacion iframe {
    width: 100%;
    height: 350px; /* Ajusta la altura del video */
    border: none;
    border-radius: 10px;
}
footer {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
}

.footer-content {
    margin-bottom: 10px; /* Espacio entre contenido y enlaces */
}

.footer-links {
    margin-top: 10px; /* Espacio entre contenido y enlaces */
}

.footer-links a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    margin: 0 15px; /* Espaciado entre enlaces */
    transition: color 0.3s; /* Transición para el hover */
}

.footer-links a:hover {
    color: #007BFF; /* Color de los enlaces al pasar el ratón */
}


/* Media Queries */
@media (max-width: 768px) {
    #img_bc {
        background-image: url('../carrusel/bc-mobile.jpg');
        
    }
    
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        display: none; /* Ocultar el menú por defecto */
    }

    nav ul li {
        margin: 15px 0;
    }

    .checkbtn {
        display: block; /* Mostrar el ícono de hamburguesa */
        position: absolute;
        right: 20px;
        top: 10px;
    }

    /* Mostrar el menú cuando el checkbox está marcado */
    #check:checked ~ ul {
        display: flex; /* Mostrar el menú */
    }
    .title {
        font-size: 3rem;
    }

    .historias {
        grid-template-columns: repeat(2, 1fr);
    }

    .dondeComer {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 100px;
    }

    .video-section {
        width: 400px;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
    }

    .video-container {
        height: 150px;
    }
    #video-ubicacion {
        width: 90%; /* Más espacio para pantallas pequeñas */
    }

    #video-ubicacion iframe {
        height: 250px; /* Reduce la altura para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2.5rem;
    }

    nav ul li a {
        padding: 5px 10px;
    }

    .historias {
        grid-template-columns: repeat(1, 1fr);
    }

    .dondeComer {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .video-container {
        height: 120px;
    }
}

/* Actividades Section */
.actividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% auto;
    justify-items: center;
}

.actividades .card {
    margin-bottom: 20px;
    text-align: center;
}

.actividades .card a {
    color: black;
    text-decoration: none;
}

/* Donde Dormir */
.dondeDormir {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% auto;
    justify-items: center;
}

.dondeDormir .card {
    margin-bottom: 20px;
    text-align: center;
}

.dondeDormir .card a {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .actividades {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 200px;
    }

    .dondeDormir {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .actividades {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 100px;
    }

    .dondeDormir {
        grid-template-columns: repeat(1, 1fr);
    }
    .video-section{
        width: 99%;
    }
    #video-ubicacion iframe {
        height: 200px; /* Altura aún más pequeña para móviles */
    }
}
