@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

h1 {
/*position: absolute;
top: 120px;
left: 41%;
margin-top: 5%;
text-align: center;*/
display: grid;
color: rgb(131, 89, 27);
margin: 8% auto 0 auto;
justify-items: center;
font-family: "Acme", sans-serif;
font-weight: 800;
font-size: xxx-large;
font-style: normal;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     /* background-color: rgba(46, 75, 126, 0.741); */ /* Fondo semitransparente */
    background-color: rgba(30, 36, 32, 0.741);  /* Fondo semitransparente */
    z-index: 1000;
}

body{
    background-image: url("../../fotos_ingles/IMG_1185.JPG");
    background-size: cover;
    background-position: absolute;
    padding-top: 80px;
}

#leo{
    width: 100vw;
    /*position: absolute;
    top: 20%;   */
}
.cont {
    /*display: grid;
    height: 650px;
    width: 97vw;
    grid-template-rows: repeat(2,1fr);
    justify-items: center*/

    align-items: center;
}
.cont img{
    display: grid;
    border-radius: 20px;
    width: 800px;
    height: 600px;
    margin: 1% auto;
    justify-items: center;
}

div p {
    background-color: rgb(90, 89, 87);
   /* height: 425px;
    width: 1200px;*/
    
    color: white;
    border-radius: 20px;
    margin: 0;
    padding: 20px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: oblique;

}

@media (max-width: 768px) {
    h1 {
        margin: 17% auto 0 auto;
    }
    .cont img{
        display: grid;
        border-radius: 20px;
        width: auto;
        height: 300px;
        margin: 1% auto;
        justify-items: center;
        max-width: 100%; 
        max-height: 300px; 
        object-fit: cover;
    }
}