
.actividades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% auto;
    justify-items: center;
}

.actividades .card{
    margin-bottom: 20px;
    text-align: center;
}

.actividades .card a{
    color: black;
    text-decoration: none;
}

.dondeDormir{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10% auto;
    justify-items: center;
}

.dondeDormir .card{
    margin-bottom: 20px;
    text-align: center;
}

.dondeDormir .card a{
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {

    .queHacer{
        height: 400vh;
    }
    .actividades{
        display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin: 0 auto;
        justify-items: center;
        margin-top: 350px;
    }

    .dondeDormir{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        justify-items: center;
        margin-top: 200px;
    }
    #dondeDormir{
        height: 220vh;
    }
}

@media (max-width: 480px) {
    .actividades{
        display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin: 0 auto;
        justify-items: center;
        margin-top: 200px;
    }

    .dondeDormir{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        justify-items: center;
        margin-top: 200px;
    }
    #dondeDormir{
        height: 280vh;
    }
}